.loading{
	width: 2rem;
	text-align: center;
	margin: 0 auto;
	margin-top: 48%;
}
.detail{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	padding-top: 0.4rem;
	background: #ebebeb;
	.am-navbar{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	.am-navbar-title{
		font-size: 0.16rem;
	}
	.img{
		width: 100%;
		img{
			width: 100%;
		}
	}
	.flim-intro{
		
		margin-bottom: 1rem;
		color: #333;
		div{
			padding: 0 0.2rem;
		}
		.title{
			margin: 0.2rem 0;
			font-size: 0.2rem;
		}
		.flim-item{
			font-size: 0.14rem;
			margin: 0.16rem 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			span:first-child{
				
			}
			span.mg6{
				margin: 0 0.06rem;
			}
			span:last-child{
				
			}
		}
		
		.content{
			font-size: 0.14rem;
			
			
		}
		.btn{
			width: 100%;
			text-align: center;
			position: fixed;
			bottom: 0rem;
			left: 0;
			line-height: 1rem;
			button{
				width: 1.6rem;
				height: 0.38rem;
				border: none;
				border-radius: 0.38rem;
				background: #fe8233;
				color: white;
			}
		}
	}
}